
{% extends 'attendence/partials/base.html' %}
{% include 'attendence/partials/navbar.html' %}


{% block content %}


<div class="container-sm">


    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap w-full mb-20 ">
            <div class="lg:w-1/2 w-full mb-6 lg:mb-0 ">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Attendence Sheet</h1>
              
              <div class="h-1 w-20 bg-indigo-500 rounded"></div>
              <p id="date"></p>
            </div>
            
          </div>
            
          <script>
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").innerHTML = String(n).slice(0,10);
        </script>


            <form action="{% url 'count-attdnce-page'  %}" method="GET">

                <div class="flex flex-col">
                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 ">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                        <tr>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                student
                                            </th>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Is Present
                                            </th>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Total Attendence
                                            </th>
                                            <th scope="col"
                                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                Role
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200">
                                        {% for cnt in cnts %}
                                        <tr>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <div class="flex items-center">
                                                    <div class="flex-shrink-0 h-10 w-10">
                                                        <img class="h-10 w-10 rounded-full "
                                                            src="https://images.unsplash.com/photo-1558021211-6d1403321394?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHN0dWRlbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                                            alt="">
                                                    </div>
                                                    <div class="ml-4">
                                                        <div class="text-sm font-medium text-gray-900">
                                                            {{cnt.student}}
                                                        </div>

                                                    </div>
                                                </div>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <input type="checkbox" Checked="checked" name="present" class="form-radio"
                                                    value="true {{ cnt.student.usn }} {{ cnt.student.sem }} {{ cnt.student.sec }} {{cnt.student.branch}} {{cnt.student.name }}"
                                                    id="{{cnt.student.usn}}">

                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap">
                                                <span
                                                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                                    {{cnt}}
                                                </span>
                                            </td>
                                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                Student
                                            </td>

                                        </tr>
                                        {% endfor %}

                                        <!-- More people... -->
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                <div class="flex">

                    <div class="inline-block mr-2 mt-8 justify-center ">
                        <button type="submit" value="{{student}}" class="focus:outline-none text-blue-600 text-sm py-2.5 px-5 rounded-full border border-blue-600 hover:bg-blue-200">Submit</button>
                    </div>
                    <div class="inline-block mr-2 mt-8 justify-right ">
                        <a href="{% url 'dashboard-page' %}"><button class="focus:outline-none text-blue-600 text-sm py-2.5 px-5 rounded-full border bg-blue-200 hover:bg-blue-200">Dashboard</button></a>
                    </div>

                </div>
               


            </form>
           
        </div>
    </div>
   
      </section>
</div>
{% endblock content %}