<h1>Attendence Sheet</h1>

<form method="GET" action="{% url 'count-attdnce-page' %}" >

   

  
    <!-- <input type="checkbox" name="absent" value="false {{ student.usn }}" id="{{student.usn}}" > -->
        <table>
            <tr>
                <th>Name</th>
                <th>Present</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{student}}</td>
                <td><input type="checkbox" name="present" value="true {{ student.usn }} {{ student.sem }} {{ student.sec }} {{ student.name }}" id="{{student.usn}}" ></td>
                
            </tr>
            {% endfor %}
        </table>
       <br>    
    
    <button type="submit" value="{{ student }}" >submit</button>

</form>