{% extends 'attendence/partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<br><br>
<div class="lg:w-1/2 md:w-2/3 mx-auto">
    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Teacher Form</h1>


    <form method="POST">
        {% csrf_token %}
        <fieldset>
            {{form|crispy}}
        </fieldset>


        <div class="p-2 w-full">
            <button type="submit"
                class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
    </form>
    <p>Are you a student ?</p>
    <a href="{% url 'student-form-page' %}"
        class="bg-transparent hover:bg-yellow-500 text-yellow-700 font-semibold hover:text-white px-1 border border-yellow-500 hover:border-transparent rounded">
        click here</a>
</div>


<script>
    document.getElementById('div_id_user').style.display = 'none';
    document.getElementsByClassName('border-t').style.display = 'none';
</script>

<script>

    document.getElementById('div_id_user').style.display = "none";
    hdl = document.getElementsByClassName('list-reset')
    var i = 0;
    for (i = 0; i <= hdl.length; i++) {
        hdl[i].style.visibility = 'hidden';
    }
</script>

{% endblock content %}